@import 'normalize.css/normalize';

@import 'partials/colors';
@import 'partials/typography';
@import 'partials/layout';
@import 'partials/utils';

@import 'mixins/autocomplete';


html {
  height: 100%;
}

body {
  color: $white;

  background-attachment: fixed;
  background-color: $darker-blue;
  background-image: linear-gradient(140deg, $light-blue 10%, $darker-blue 90%);
  background-repeat: no-repeat;
}

header {
  margin-bottom: 50px;

  .cart {
    position: fixed;
    top: 50px;
    right: 50px;

    z-index: 10;

    .cart-icon {
      position: absolute;
      top: 0;
      right: 0;

      width: 51px;
      height: 51px;

      background: transparent url('../images/large-cart-idle.png') no-repeat center center;

      cursor: pointer;

      z-index: 5;

      &:hover {
        background-image: url('../images/large-cart-hover.png');
      }

      .cart-badge {
        position: absolute;
        top: -5px;
        right: -10px;

        width: 18px;

        &:after {
          content: '';
          display: block;

          width: 100%;
          height: 0;

          background-color: $magenta;

          padding-bottom: 100%;
          border-radius: 50%;
        }

        div {
          @include font-smoothing(on);

          float: left;
          width: 100%;

          padding-top: 50%;
          margin-top: -.5em;

          color: $white;

          text-align: center;

          font-size: .65em;
          font-weight: 600;

          line-height: 1em;
        }
      }
    }

    .products {
      position: absolute;
      top: -10px;
      right: -15px;

      width: 500px;

      padding: 10px;
      padding-right: 75px;

      background: $dark-blue;
      border: 1px solid $light-blue;

      ul {
        padding: 0;
        margin: 0;

        list-style-type: none;

        li {
          @include font-smoothing(on);

          padding: 10px 0;

          color: $white;
          font-size: .8em;

          border-bottom: 1px solid $light-blue;

          &:last-child {
            border-bottom-width: 0;
          }

          .price {
            @include font-smoothing(on);

            display: inline-block;
            margin-right: 10px;
            font-weight: 800;
          }
        }
      }
    }
  }
}

.search {
  padding: 1px 0; // prevents margin collapsing
  margin: 50px 0;

  text-align: center;

  .autocomplete {
    @include autocomplete($width: 700, $height: 45);
  }
}

.display {
  .product {
    position: relative;
    display: inline-block;
    width: 30%;

    margin: 1.6%;
    padding: 20px;
    padding-bottom: 40px;

    border: 3px solid $light-grey;

    background-color: $white;
    color: $dark-grey;

    -webkit-transition: transform .2s ease-out, box-shadow .2s;
    -moz-transition: transform .2s ease-out, box-shadow .2s;
    -ms-transition: transform .2s ease-out, box-shadow .2s;
    -o-transition: transform .2s ease-out, box-shadow .2s;
    transition: transform .2s ease-out, box-shadow .2s;

    cursor: pointer;

    &:hover {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05);

      box-shadow: 3px 4px 15px 0 rgba(0, 0, 0, .6);
    }

    &.in-cart {
      border-color: $green;
    }


    .picture {
      text-align: center;
    }

    .infos {
      h3 {
        @include font-smoothing(on);
        font-family: 'Raleway', sans-serif;

        text-align: center;

        em {
          font-family: "Open Sans", sans-serif;
          font-weight: 800;
          font-style: normal;
        }
      }

      .price {
        font-weight: 800;
      }

      .description {
        em {
          font-weight: 800;
          font-style: normal;
        }
      }
    }

    %cart-badge {
      @include font-smoothing(on);

      position: absolute;

      bottom: -1px;
      left: -1px;
      right: -1px;

      padding: 10px;

      color: $white;

      text-align: center;
      font-weight: 600;
    }

    .add-to-cart {
      @extend %cart-badge;
      background-color: $light-grey;

      cursor: pointer;
    }

    .in-cart {
      @extend %cart-badge;

      background-color: $green;
    }

    &.large {
      width: 60%;
      margin: 0 20%;

      .picture {
        float: left;

        margin: 0 20px 20px 0;

        text-align: left;
      }

      .infos {
        h3 {
          margin-top: 0;
          text-align: left;
        }
      }
    }
  }
}
